* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
        display: flex;
        justify-content: center;
        height: 120px;
        background-color: #013d61;
      }


.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .logo {
    display: flex;
    align-items: center;
    
  }
  .logo h1{
    color: white;
    font-size: 60px;
  }
  .logo h2{
    color: #c25c36;
    font-size: 60px;
  }
  .menu{
    display: flex;
    align-items: center;
}


/* Colocando a tag UL e LI que estão dentro de NAV com margin e 
padding 0, além de remover a lista */
nav ul,
nav li {
   list-style: none;
   margin: 0;
   padding: 0;
}
/* Deixando os menu um ao lado do outro, com a propriedade FLEX */
nav ul{
   display: flex;
}
/* Decorando os links dentro do NAV. Definindo que ficara maiusculo, sem sublinado
sua cor e do tipo block */
nav a{
   display: block;
   text-decoration: none;
   padding: 15px 15px 5px 15px;
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 22px;
}

/* Definindo o link ativo e o hover ao passar o mouse */
nav .active a,
nav a:hover{
   border-bottom: 6px solid #c25c36;
   color: #c25c36;
   
   transform: scale(1.05);
  
}
#comprar{
  background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
    
}
.circulo_img{
    margin-top: 40px;
    border-radius: 50%;
  
}
#sobre_nos p{
    width: 700px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: justify;
  
}
#sobre_nos h1{
  border-bottom: 3px solid gray;
    color: rgb(0, 0, 0);
    font-size: 43px;
    margin-bottom: 30px;
}
.produtos{
    background-color:#ffffff;
    display: flex;
   justify-content: space-around;
   cursor: pointer;
   max-width: 100%;
}
.produtos div{
    padding: 10px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 390px;
  margin-bottom: 70px;
margin-top: 70px;
  text-align: justify;
  
}

.img1{
    position: relative;
    top: 10px;
}
.produtos img{
    border-radius: 55px;
    padding-bottom: 13px;
    width: 210px;
}
/* .produtos img:hover{
  transform: scale(1.05);
} */
.card{
  border: 0.5px solid rgba(128, 128, 128, 0.425);
  border-radius: 40px;
  
}

.card:hover{
  transform: scale(1.05);
 box-shadow:  2px 4px 23px #c25c36;
}
.valor_inteiro{
  color: red;
  font-size: 20px;
  text-decoration: line-through;
}
.valor_desconto{
  color: green;
  font-size: 24px;
}
.card p{
  font-size: 22px;
}
.carrinho{
  
  width: 800px;
  align-items: center;
}
.area_carrinho{
 margin-bottom: 10px;
  justify-content: baseline;
  align-items: center;
}
.itens_carrinho{

  justify-content: center;
 align-items: center;
}
.tabela_carrinho{
 
  display: flex;
margin: 30px;
width: 90%;
}
.corpo_carrinho{
 width: 100%;
}

 tr td{
  padding: 20px;
  font-size: 20px
}
.titulo_carrinho{
  font-weight: bolder;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  background-color: #013d61;
  border-radius: 10px;
}
.branco-text{
  color: green;
}
.branco-text:hover{
  color: rgb(0, 0, 0);
  transform: scale(1.09);
}
.red-text{
  color: red;
  
}
.red-text:hover{
  color: red;
  transform: scale(1.09);
}
.btn_finalizar{
  background-color: #013d61;
  color: #ffffff;
  padding: 17px;
  border-radius: 30px;
  margin-bottom: 10px;
   font-weight: bolder;
   cursor: pointer;
}

.btn_finalizar:hover{
  background-color: #c25c36;
  align-items: center;
  transform: scale(1.05);
  font-weight: bolder;
}
.total_pedido{
  align-items: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
#sobre_nos{
  justify-content: center;
  display: flex;
  align-items: center;
  gap:30px;
  padding-bottom: 40px;
  background-color: #b9a29a;
}
.rodape{
  margin-top: 50px;
  background-color: hsla(16, 56%, 49%, 0.882);
  color: white;
  font-size: 14px;
  font-family: helvetica;

}
.rodape a{
  text-decoration: none;
  color: white;
}
.rodape p{
  margin-bottom: 5px;
}
.rodape-div{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 10px;
}
.rodape span{
  font-size: 20px;
  color: white;
}
.rodape-direitos{
  width: 100%;
  background-color: black;
  padding: 10px;
  margin: 0px;
  text-align: center;
}
.rodape-div-1-coluna a:hover, .rodape-div-1-coluna p:hover,
.rodape-div-2-coluna a:hover, .rodape-div-2-coluna p:hover,
.rodape-div-3-coluna a:hover, .rodape-div-3-coluna p:hover,
.rodape-div-4-coluna a:hover, .rodape-div-4-coluna p:hover{
  transform: scale(1.05);
}
.rodape-div-1-coluna a, .rodape-div-1-coluna p,
.rodape-div-2-coluna a, .rodape-div-2-coluna p,
.rodape-div-3-coluna a, .rodape-div-3-coluna p,
.rodape-div-4-coluna a, .rodape-div-4-coluna p{
  margin-top: 10px;}
/*mobile*/
#mapa{
  width: 100%;
  height: 500px;
  text-align: center;
}
#localizacao{
  padding: 30px;
  width: 100%;
  background-color: #ffffff;
  
}
#mapa, iframe{
  width: 100%;
  height: 400px;
}
#mapa h1{
 margin-bottom: 15px;
 font-size: 40px;
}

@media (max-width: 500px) {
  .produtos{
    background-color:#ffffff;
    display: list-item;
   justify-content: space-around;
   cursor: pointer;
   max-width: 100%;
    
  }
  .card p{
    font-size: 22px;
    color: #ffffff;
  }
  .card{
    border: 0.5px solid rgba(128, 128, 128, 0.425);
    border-radius: 40px;
    background-color: #013d61;
    
  }
  .card h1{
    color: #ffffff;
  }
}

@media (max-width: 1200px ){
  .produtos{
    background-color:#ffffff;
   justify-content: space-around;
   cursor: pointer;
   max-width: 100%;
    
  }
  header{
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #c25c36;
  }
  .logo h1{
    color: white;
    font-size: 60px;
  }
  .logo h2{
    color: #013d61;
    font-size: 60px;
  }
  nav .active a,
nav a:hover{
   border-bottom: 6px solid #013d61;
   color: #013d61;
   
   transform: scale(1.05);
  
}
.card p{
  font-size: 22px;
  color: black;
}
.card h1{
  color: black;
}
.produtos img{
  border-radius: 5px;
  padding-bottom: 12px;
  width: 200px;
  height: 230px;
}
/* .produtos img:hover{
transform: scale(1.05);
} */
.card{
border: 0.5px solid rgba(128, 128, 128, 0.425);
border-radius: 0px;
background-color: #ffffff;
}

.card:hover{
transform: scale(1.05);
box-shadow:  2px 4px 23px #013d61;
}
.produtos div{
  padding: 10px;
  display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 250px;
height: 370px;
margin-bottom: 50px;
margin-top: 70px;
text-align: justify;

}
#sobre_nos{
  justify-content: center;
  display: flex;
  align-items: center;
  gap:30px;
  padding-bottom: 40px;
  background-color: #000000;
  width:  100%;
}
#sobre_nos p{
  width: 700px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: justify;

}
#sobre_nos h1{
border-bottom: 3px solid gray;
  color: #c25c36;
  font-size: 43px;
  margin-bottom: 30px;
}
}
 @media (max-width: 1060px){
  #sobre_nos{
    display: none;
  }
} 
@media (max-width: 500px) {
  #comprar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column; /* Adiciona flex-direction para garantir que os itens fiquem empilhados */
  }

  .carrinho {
    width: 100%; /* Usa 100% da largura disponível */
    max-width: 400px; /* Limita a largura para não ficar muito largo */
    align-items: center;
  }

  .area_carrinho {
    margin-bottom: 10px;
    width: 100%;
    max-width: 405px; /* Garante que não ultrapasse a largura do container */
    justify-content: flex-start; /* Ajuste para melhor alinhamento */
  }

  .itens_carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se ajustem em linhas menores */
  }

  .tabela_carrinho {
    display: flex;
    flex-direction: column; /* Ajuste para garantir que as células se alinhem corretamente */
    margin: 0;
    width: 100%; /* Ajusta a largura */
  }

  tr td {
    padding: 5px;
    font-size: 16px; /* Tamanho de fonte um pouco menor para telas pequenas */
  }

  .titulo_carrinho {
    font-size: 24px; /* Diminui um pouco o tamanho da fonte para telas menores */
    border-radius: 0;
  }

  nav .active a,
  nav a:hover {
    border-bottom: 6px solid #c25c36;
    color: #013d61;
  }

  nav a {
    font-size: 16px; /* Ajusta a fonte para um tamanho mais adequado */
  }

  .logo h1 {
    color: white;
    font-size: 24px; /* Tamanho de fonte reduzido */
  }

  .logo h2 {
    color: #013d61;
    font-size: 24px; /* Tamanho de fonte ajustado */
  }

  header {
    height: 90px;
  }

  .produtos {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px; /* Menor espaçamento entre os produtos */
    max-width: 100%;
    padding: 10px;
  }

  .produtos div {
    padding: 10px;
    height: 80%;
    width: 100%; /* Largura ajustada para que o conteúdo se ajuste */
    max-width: 210px; /* Limita a largura dos produtos */
    margin-top: 20px;
    text-align: center;
    border-radius:0px; /* Pequeno arredondamento nos cantos */
  }

  .produtos img {
    border-radius: 0px; /* Arredondamento nas imagens */
    width: 80%; /* Garante que a imagem ocupe toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
  }

  .card {
    border-radius: 0px; /* Arredondamento nas bordas do card */
  }

  .valor_inteiro,
  .valor_desconto {
    font-size: 18px; /* Ajusta o tamanho das fontes */
  }

  .card p {
    font-size: 16px; /* Tamanho reduzido para melhorar a legibilidade */
    margin-bottom: 0px;
  }
  .card h1{
    font-size: 18px;

  }

  #some_mobile {
    display: none; /* Torna o elemento visível em telas pequenas */
  }
  .total_pedido h2{
    font-size: 18px;
  }
  .btn_finalizar{
  padding: 11px;
  border-radius: 0px;
  margin-bottom: 10px;
   font-weight: bolder;
   cursor: pointer;
  }
  #mapa h1{
    font-size: 22px;
    border-bottom: 1px solid;
  }
}
